**/bin/
**/obj/
**/node_modules/
**/.angular/
**/.git/
**/dist/
**/.firebase/
**/logs/
**/*.user
**/*.suo
**/.vs/
**/TestResults/
**/publish/

.env*
*.md
LICENSE
deploy/
tests/
frontend/
docs/
scripts/
.github/
.vscode/
.idea/
*.log
