.cart-item {
  &:last-child {
    border-bottom: none !important;
  }
}

@media (max-width: 576px) {
  .cart-item {
    flex-direction: column;

    .cart-item-image {
      width: 100%;
      img {
        width: 100%;
        height: 120px;
        object-fit: cover;
      }
    }
  }
}
